BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Always
AlignConsecutiveMacros: true
IndentPPDirectives: BeforeHash
IndentCaseLabels: true
ColumnLimit: 120
